.content {
    display: grid;
    grid-template-columns: minmax(150px, 100%) 1fr;
    height: 90vh;
}
p {
    font-size: 30px;
    color: gray;
}

canvas {
    padding: 0;
    height: 90vh;
    width: 100%;
    border: "1px solid"
}

li {
    list-style-type: '';
    padding-bottom: 26px;
  }
  
  .sidebar-container {
    margin-top: 0px;
    padding-left: 0px;
  }

  #trash {
    margin-right: 16px;
    border: none;
    background-color: #F2EBF3;
}