.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 20px;
    text-align: center;
    width: 100vw;
    justify-content: start;
    font-size: 22px;
    margin-top: 4px;
    padding-left: 8px;
    margin-bottom: 0px;
}

.nav-links {
    color: #545454;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-bottom: 0px;
}

.nav-links:hover {
    background-color: lightgrey;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.icons {
    justify-self: start;
    margin-right: 0.5rem;
}

.menu-names {
    padding-bottom: 2px;
}